[submodule "vim/bundle/makegreen"]
	path = vim/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/pycomplexity"]
	path = vim/pycomplexity
	url = https://github.com/garybernhardt/pycomplexity.git
[submodule "vim/bundle/vim-arduino"]
	path = vim/bundle/vim-arduino
	url = https://github.com/tclem/vim-arduino.git
[submodule "vim/bundle/nginx.vim"]
	path = vim/bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-jsonnet"]
	path = vim/bundle/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
